@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 95%;
  }
}
@keyframes caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $portland;
  }
}
@keyframes reveal {
  from {
    opacity: 0%;
    visibility: hidden;
  }
  to {
    opacity: 100%;
    visibility: visible;
  }
}
