body {
  height: 100vh;
  width: 100vw;
  background: rgb(67, 67, 67);
  background: linear-gradient(180deg, rgba(67, 67, 67, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
// header
header {
  display: none;
}
.header-active {
  @include grid(0.2fr 0.8fr, 1fr);
  gap: 1rem;
  height: 10vh;
  width: 95%;
  margin: auto;
  .logo-wrapper {
    background: url('../img/logo.png') center no-repeat;
    background-size: contain;
    @include mq(sphone-landscape) {
      height: 75%;
      width: 75%;
      justify-self: center;
      align-self: center;
      background-size: cover;
    }
    @include mq(phone-wide) {
      height: 75%;
      width: 75%;
      justify-self: center;
      align-self: center;
      background-size: cover;
    }
  }
  .logo-text {
    height: 100%;
    @include flex(flex-start, center, row);
    color: $cultured;
    letter-spacing: 0.15rem;
    pointer-events: none;
  }
}

// main
main {
  display: none;
  position: relative;
}
.main-active {
  height: 85%;
  width: 95%;
  margin: auto;
  @include grid(1fr, repeat(2, 1fr));
  row-gap: 1rem;
  @include mq(sphone-landscape) {
    @include grid(repeat(2, 1fr), 1fr);
  }
  @include mq(phone-wide) {
    @include grid(repeat(2, 1fr), 1fr);
  }
  @include mq(tablet-portrait) {
    @include grid(1fr, repeat(2, 1fr));
  }
}
section {
  height: 100%;
  width: 100%;
  @include grid(0.2fr 1fr 0.2fr, 1fr);
  gap: 0.5rem;
  @include mq(phone-landscape) {
    grid-template-columns: 0.2fr auto 0.2fr;
  }
}

// PLAYER - aside controls
.controls {
  @include flex(space-between, center, column);
  height: 50%;
  width: 100%;
  margin: auto;
  button {
    padding: 2rem;
    font-size: 2rem;
    svg {
      transition: all 350ms ease-in-out;
    }
  }
  @include mq(sphone-landscape) {
    height: 35%;
  }
  @include mq(phone-wide) {
    height: 35%;
  }
}
.current-orientation {
  font-size: 1.2rem;
  color: $cultured;
  text-align: center;
  &::first-letter {
    text-transform: capitalize;
  }
}
.rotate {
  color: $cultured;
  svg:hover {
    transform: rotate(360deg);
  }
}
.play-again {
  color: $green-cta;
  transition: all 350ms ease-in-out;
}
.play-again:hover {
  color: $portland;
}
// aside ships
.ship-info {
  @include grid(repeat(2, 1fr), auto);
  align-items: center;
  justify-items: center;
  @include mq(sphone-landscape) {
    height: 60%;
    align-self: center;
  }
  @include mq(phone-landscape) {
    gap: 1rem;
  }
  @include mq(tablet-landscape) {
    height: 65%;
    align-self: center;
  }
  @include mq(desktop) {
    height: 65%;
    align-self: center;
  }
}
.ship-cont {
  width: 100%;
  height: 100%;
  background-size: contain;
  transition: all 250ms ease-in-out;
  visibility: visible;
  opacity: 1;
  @include mq(sphone-landscape) {
    width: 70%;
    height: 70%;
  }
  @include mq(phone-wide) {
    width: 70%;
    height: 70%;
  }
  @include mq(tablet-portrait) {
    height: 80%;
  }
  @include mq(tablet-landscape) {
    width: 100%;
    height: 60%;
  }
  @include mq(desktop) {
    width: 100%;
    height: 60%;
  }
}

.ship-placed {
  pointer-events: none;
  filter: brightness(0.5);
}

.placing-now {
  border: 1px solid white;
  border-radius: 2rem;
}

.ship-sunk {
  opacity: 0.2;
}

.indicate-placement {
  background: rgba($color: $rebecca, $alpha: 0.55);
}

.ship {
  background: $quick-silver;
}
.patrol {
  background: url('../img/patrol.png') center no-repeat;
  @include mq(sphone) {
    background-size: contain;
  }
  @include mq(sphone-landscape) {
    background-size: cover;
  }
  @include mq(phone-wide) {
    background-size: contain;
  }
  @include mq(tablet-portrait) {
    background-size: contain;
  }
  @include mq(tablet-landscape) {
    background-size: contain;
  }
  @include mq(desktop) {
    background-size: contain;
  }
}
.cruiser1 {
  background: url('../img/cruiser.png') center no-repeat;
  @include mq(sphone) {
    background-size: cover;
  }
  @include mq(sphone-landscape) {
    background-size: cover;
  }
  @include mq(phone-wide) {
    background-size: cover;
  }
  @include mq(tablet-portrait) {
    background-size: cover;
  }
  @include mq(tablet-landscape) {
    background-size: cover;
  }
  @include mq(desktop) {
    background-size: cover;
  }
}
.cruiser2 {
  background: url('../img/cruiser.png') center no-repeat;
  @include mq(sphone) {
    background-size: cover;
  }
  @include mq(sphone-landscape) {
    background-size: cover;
  }
  @include mq(phone-wide) {
    background-size: cover;
  }
  @include mq(tablet-portrait) {
    background-size: cover;
  }
  @include mq(tablet-landscape) {
    background-size: cover;
  }
  @include mq(desktop) {
    background-size: cover;
  }
}
.battleship {
  background: url('../img/battleship.png') center no-repeat;
  @include mq(sphone) {
    background-size: cover;
  }
  @include mq(sphone-landscape) {
    background-size: cover;
  }
  @include mq(phone-wide) {
    background-size: cover;
  }
  @include mq(tablet-portrait) {
    background-size: cover;
  }
  @include mq(tablet-landscape) {
    background-size: cover;
  }
  @include mq(desktop) {
    background-size: cover;
  }
}
.carrier {
  background: url('../img/carrier.png') center no-repeat;
  grid-area: 3/1/3/3;
  @include mq(sphone) {
    background-size: cover;
  }
  @include mq(sphone-landscape) {
    background-size: cover;
  }
  @include mq(phone-wide) {
    background-size: cover;
  }
  @include mq(tablet-portrait) {
    background-size: cover;
  }
  @include mq(tablet-landscape) {
    background-size: cover;
  }
  @include mq(desktop) {
    background-size: cover;
  }
}
// Board
.board {
  height: 100%;
  width: 100%;
  @include grid(repeat(10, 1fr), repeat(10, 1fr));
  border: 1px solid $onyx;
  -webkit-box-shadow: 3px 0px 9px 3px rgba($color: $black-fogra, $alpha: 0.35);
  box-shadow: 3px 0px 9px 3px rgba($color: $black-fogra, $alpha: 0.35);
  border-radius: 0.5rem;
  @include mq(sphone-landscape) {
    width: 100%;
    height: 65%;
    justify-self: center;
    align-self: center;
  }
  @include mq(phone-landscape) {
    width: 100%;
    height: 90%;
    justify-self: center;
    align-self: center;
  }
  @include mq(tablet-landscape) {
    height: 65%;
    align-self: center;
  }
  @include mq(desktop) {
    height: 65%;
    align-self: center;
  }
}
.box {
  border: 1px solid rgba($color: $onyx, $alpha: 0.75);
  cursor: crosshair;
}
.hit {
  background: $portland;
}
.miss {
  background: $onyx;
}

.board-inactive {
  pointer-events: none;
}

.board-turn {
  border: 2px solid $quick-silver;
}

// AI
.ship-info-ai {
  grid-area: 1/3/1/4;
  @include mq(phone-landscape) {
    gap: 1rem;
  }
}
.board-ai {
  grid-area: 1/2/1/3;
}

// error message

.error-wrapper {
  opacity: 0;
  visibility: hidden;
  transition: all 350ms ease-in-out;
  position: absolute;
  height: 100%;
  width: 100%;
  @include flex(center, center, column);
  .error-msg-wrapper {
    color: $cultured;
    width: 100%;
    height: 65%;
    margin: auto;
    display: grid;
    grid-template-rows: 0.1fr repeat(3, 1fr);
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    background: rgba($color: $eerie, $alpha: 0.95);
    border-radius: 1rem;
    text-align: center;
    @include mq(sphone-landscape) {
      width: 50%;
    }
    @include mq(phone-wide) {
      width: 50%;
    }
  }
  .error-title {
    letter-spacing: 0.15rem;
  }
}
.error-message-p::first-letter {
  text-transform: capitalize;
}
.error-message-p {
  letter-spacing: 0.1rem;
}

.btn-wrapper {
  justify-self: flex-end;
  .remove-err {
    color: $cultured;
    padding: 1.5rem;
  }
}

.err-active {
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(5px);
}

// footer

footer {
  height: 5vh;
  @include flex(center, center, row);
  background: $eerie-black;
  color: $cultured;
}
.txt,
.dev {
  font-size: 1.3rem;
}
.dev {
  margin-left: 0.2rem;
  letter-spacing: 0.1rem;
}
.img-wrapper {
  margin-left: 0.5rem;
  a {
    font-size: 1.3rem;
    color: $cultured;
  }
  svg {
    transition: all 300ms ease-in-out;
  }
  svg:hover {
    transform: rotate(360deg) scale(1.1);
  }
}
